<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/videos-video-row-first.css" id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/videos-short-row-first.css" id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <script src="https://kit.fontawesome.com/f54cf73625.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CanerTube</title>
</head>
<body>
    <div class="video-container" id="video-container">
        <div class="video-row-first">
          <% video.slice(0, 8).forEach(function(video) { %>
            <div class="video-box">
            <a href="http://localhost:3000/video-detail/<%= video.video_id %>" class="video-link-href">
            <img src="<%= video.thumbnail_url %>" alt="<%= video.title %>" class="video-image">
            <div class="video-content">
              <div class="video-box-left">
                <img src="<%= video.photo %>" alt="<%= video.display_name %>" class="video-channel-image">
              </div>
              <div class="video-box-right">
                <p class="video-title"><%= video.title %></p>
                <p class="video-channel-title"><%= video.display_name %></p>
                <div class="video-box-right-line">
                  <p class="video-view"><%= video.view_count %></p>
                  <p class="video-publish-time"><%= video.upload_date %></p>
                </div>
              </div>
            </div>
          </a>
          </div>
        <% }); %>   
          </div>
          <div class="when-shorts-closed" id="when-shorts-closed">
            <p class="when-shorts-closed-text">Shorts'lar saklandı!</p>
          </div>
          <div class="short-row-first" id="short-row-first">
            <div class="short-box-title-container">
              <p class="short-box-title"><i class="fa-regular fa-circle-play" id="short-box-title-icon"></i> Shorts</p>
              <button class="short-box-title-close" id="close-shorts"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="short-box-first">
              <div class="short-video">
                <img class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>

              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>

              </div>
              <div class="short-video">
                <img class="short-video-image"  src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
            </div>
            <div class="short-box-second">
              <div class="short-video">
                <img class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>

              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>

              </div>
              <div class="short-video">
                <img class="short-video-image"  src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
              <div class="short-video">
                <img  class="short-video-image" src="https://upload.wikimedia.org/wikipedia/tr/7/76/Kungfupanda.jpg" alt="Kung Fu Panda">
                <p class="short-video-text">Kung Fu Panda</p>
                <p class="short-video-viewer">10 Mn görüntülendi</p>
              </div>
            </div>
            <div class="short-box-bottom">
              <button class="show-more-button">Daha Fazla Göster <i class="bi bi-chevron-down"></i></button>
              <div class="short-box-divider"></div>
            </div>
            </div>
            <div class="video-row-first">
              <% video.forEach(function(video, index) { if (index >= 8) {%>
          <div class="video-box">
            <a href="http://localhost:3000/video-detail/<%= video.video_id %>" class="video-link-href">

            <img src="<%= video.thumbnail_url %>" alt="<%= video.title %>" class="video-image">
            <div class="video-content">
              <div class="video-box-left">
                <img src="<%= video.photo %>" alt="<%= video.display_name %>" class="video-channel-image">
              </div>
              <div class="video-box-right">
                <p class="video-title"><%= video.title %></p>
                <p class="video-channel-title"><%= video.display_name %></p>
                <div class="video-box-right-line">
                    <p class="video-view"><%= video.view_count %></p>
                    <p class="video-publish-time"><%= video.upload_date %></p>
                </div>
              </div>
            </div>
          </a>

          </div>
          <%     }  }); %>
            </div>
    </div>
</body>
</html>