<!DOCTYPE html>
<html>
  <head>
    <title>CanerTube</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/channel.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 </head>
  <body>
    <%- include('../views/partials/navbar') %>
    <div class="channel-container" id="channel-container">
        <div class="channel-user-container">
            <div class="channel-user-container-left">
                <img src="<%= profile[0]?.photo %>" alt="channel-user-photo" class="channel-user-photo">
            </div>
            <div class="channel-user-container-right">
                <p class="channel-user-name"><%=profile[0]?.display_name %></p>
                <div class="channel-user-nickname-subscription">
                    <p class="channel-user-nickname"> @<%=profile[0]?.user_name %></p>
                    <p class="channel-user-subscription">-  4 Abone</p>
                </div>
                <button class="channel-user-more-button">Bu kanal hakkında daha fazla bilgi <i class="bi bi-arrow-right-short"></i></button>
                <div class="channel-user-setting-button">
                    <button class="channel-user-set-channel-button">Kanalı özelleştir</button>
                    <button class="channel-user-set-video-button">Videoları yönet</button>
                </div>
            </div>
        </div>

    </div>
    <div class="channel-button-container" id="channel-button-container">
        <button class="channel-button-home" onclick="goToChannel()">Ana Sayfa</button>
        <button class="channel-button-list"  onclick="goToChannelPlaylist()">Oynatma listeleri</button>
        <button class="channel-button-community"  onclick="goToChannelCommunity()">Topluluk</button>
    </div>
    
    <div class="channel-playlist-container" id ="channel-playlist-container">
        <div class="channel-playlist-top">
            <p class="channel-playlist-title">Oluşturulan oynatma listesi</p>
        </div>
        <div class="channel-playlist-video-container">
            <% if (list && list.length > 0) { %>

        <% list.forEach(function(list) { %>
                    <div class="channel-playlist-video-row">
                        <img src="<%= list.latest_video_image %>" alt ="list-image" class="channel-playlist-video-list-image">
                        <p class="channel-playlist-video-list-name"> <%= list.list_name %></p>
                        <p class="channel-playlist-video-length"><i class="bi bi-list-ul"></i> <%= list.video_count %> video</p>
                        <a class="channel-playlist-show-all">Oynatma listesinin tamamını görüntüle</a>
                    </div>
        <% }); %>  
        <% } else { %>
            <p class="channel-playlist-show-all">Bu liste boş</p>
        <% } %>

         </div>
    </div>
    <%- include('../views/partials/sidebar') %>
    <script src='/javascripts/sidebar-channel-handle.js'></script>
    <script src='/javascripts/voice-input.js'></script>
    <script src='/javascripts/clear-input.js'></script>
    <script src='/javascripts/navigate-to.js'></script>
    <script src='/javascripts/google-login.js'></script>
    <script src='/javascripts/time-difference.js'></script>
    <script src='/javascripts/searched-videos.js'></script>

    <script src='/javascripts/view-changer.js'></script>
    <script src='/javascripts/navbar-setting-dropdown.js'></script>
    <script src='/javascripts/navbar-profile-dropdown.js'></script>
    <script src='/javascripts/navbar-setting-limited-toggle.js'></script>
    <script src='/javascripts/close-shorts.js'></script>

  </body>
</html>